body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 900px; */
    font-family: fantasy;
    background-color: rgb(148, 148, 226);
}

h1{
    font-size: 3.5em;
    color: rgb(16, 38, 107);
}

.inputContainer{
    margin-left: 18px;
}

#filtersContainer{
    margin-left: 85px;
}

.instructions{
    font-size: 2em;
    color: rgb(41, 69, 155);
}

.includeChars{
    font-size: 1.5em;
}

#passwordLen{
    font-size: 1.5em;
    width: 18em;
}

button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(51, 87, 196);;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
    box-shadow:  3px 6px rgba(74, 90, 139, 0.774);
    width: 10em;
    font-family: fantasy;
}

.buttons:hover{
    background-color: var(--btnBgHover);
}