body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 900px;
    font-family: fantasy;
    background-color: var(--white);
}

#container{
    font-family: fantasy;
    text-align: center;
    font-size: 2em;
}

h1{
    color: rgb(131, 12, 12);
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(131, 12, 12);
    color: beige;
    font-family: fantasy;
    cursor: pointer;
}

button:hover{
    background-color: rgb(206, 33, 33);
}

button:active{
    background-color: rgb(73, 19, 19);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-family: fantasy;
}

#diceResult{
    margin: 25px;
}

#diceImages img{
    width: 150px;
    margin: 5px;
}